

html {
background: url(http://www2.usanetwork.com/series/monk/interactivegames/mindmachine/images/ad_bk.jpg) no-repeat center center fixed;
background-size: cover;
}

.board {
  margin-left: auto;
  margin-right: auto;
  font-style: center;
  vertical-align: center;
}

#behind tr td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
}

#board tr td {
  border-radius: 50px

}



h1, h4 {
  font-family: 'Open Sans', sans-serif;
  font-style: center;
  text-align: center;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
}






